.nav__links{
  background-color: #61dafb;
  padding: 17px 10px;
}

.nav__links > a{
  text-decoration: none;
  margin-left: 0.9rem;
  color: #fff;
}


/* .nav__links > a.active{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(252, 137, 137);
} /* const navLinkStyle=({
   isActive

 })=> {
   return {
     textDecoration: isActive? 'underline': 'none',
       fontWeight: isActive ? 'bold': 'normal',
       color: isActive? 'rgb(252, 137, 137)': '#fff'
   }

 }*/